
/* css */
#upper-head {
  background-color: #E1B89B;
  position: absolute;
  left: 238px;
  top: 333px;
  width: 315px;
  height: 275px;
  z-index: 1;
}

#left-jaw {
  background-color: #E1B89B;
  position: absolute;
  left: 290.77px;
  top: 557px;
  width: 71.1px;
  height: 178.7px;
  transform: rotate(0.875turn);
  z-index: 3;
}

#right-jaw {
  background-color: #E1B89B;
  position: absolute;
  left: 430px;
  top: 557px;
  width: 71.1px;
  height: 178.7px;
  transform: rotate(0.125turn);
  z-index: 4;
}

#chin {
  background-color: #E1B89B;
  position: absolute;
  left: 364px;
  top: 701px;
  width: 64px;
  height: 34px;
  z-index: 2;
}

#left-eyesquare {
  background-color: white;
  position: absolute;
  left: 291px;
  top: 402px;
  width: 86px;
  height: 115px;
  z-index: 5;
}

#right-eyesquare {
  background-color: white;
  position: absolute;
  left: 415px;
  top: 402px;
  width: 86px;
  height: 115px;
  z-index: 6;
}

#mouth-interior {
  background-color: black;
  position: absolute;
  left: 326px;
  top: 608px;
  width: 140px;
  height: 87px;
}

#tongue {
  background-color: #942424;
  border-radius: 35.5px;
  position: absolute;
  left: 360px;
  top: 626px;
  width: 71px;
  height: 69px;
}
