
/* css */
#upper-head {
  background-color: #E1B89B;
  position: absolute;
  left: 238px;
  top: 333px;
  width: 315px;
  height: 275px;
}

#left-jaw {
  background-color: #E1B89B;
  position: absolute;
  left: 290.77px;
  top: 557px;
  width: 71.1px;
  height: 178.7px;
  transform: rotate(0.875turn);
}

#right-jaw {
  background-color: #E1B89B;
  position: absolute;
  left: 430px;
  top: 557px;
  width: 71.1px;
  height: 178.7px;
  transform: rotate(0.125turn);
}

#chin {
  background-color: #E1B89B;
  position: absolute;
  left: 364px;
  top: 701px;
  width: 64px;
  height: 34px;
}

#mouth-interior {
  background-color: 000000;
  position: absolute;
  left: 326px;
  top: 608px;
  width: 140px;
  height: 87;
}
